<div class="c-side-pane t-toolbar">
    <span style="color:#fff; margin-left:10px;">Display Options</span>
</div>
<strong>Title</strong>
<label style="margin-top:8px; margin-left: 15px;font-size:14px;">
    Titulo
    <input type="text" style="text-align:center;margin-left:15px;" ng-model="config.customTitle">
</label>
<br>
<strong>Subtitle</strong>
<br>
<label style="margin-top:8px; margin-left: 15px;font-size:14px;">
    <input type="checkbox" style="text-align:center;" ng-model="config.showSubtitle">
    Ocultar subtitulo
</label>
<br>
<strong>Value</strong>
<br>
<label style="margin-top:8px; margin-left: 15px;font-size:14px;">
    <input type="checkbox" style="text-align:center;" ng-model="config.showValue">
    Ocultar valor
</label>
<br>
<strong>Time</strong>
<br>
<label style="margin-top:8px; margin-left: 15px;font-size:14px;">
    <input type="checkbox" style="text-align:center;" ng-model="config.showTime">
    Ocultar tiempo
</label>
<br/>
<strong>General</strong>
<label class="flex-align-center" style="margin-top:8px; margin-left: 35px;font-size:14px;">
    <label>Tamaño texto</label>
    <input type="number" class="" style="margin-left:8px" ng-model="config.fontSize">
</label>
<label class="flex-align-center" style="margin-top:8px; margin-left: 8px;font-size:14px;">
    <label>Units (*)</label>
    <input type="text" class="" style="text-align:center;margin-left:10px;" ng-model="config.unit">
</label>
<div class="config-option-format">
    <pv-color-picker id="color" ng-model="config.color" config="config" colorkeyword="Color">
    </pv-color-picker>
</div>
<br/>