<ul kendo-panel-bar class="t-side-panel-bgcolor" style="font-size: 14px;">
    <li class="k-state-active">
        <span class="panel-bar-label-no-wrap">Colores</span>
        <div style="margin: 8px 0;">
            <div class="config-option-format">
                <pv-color-picker id="bandColor1" ng-model="config.bandColor1" config="config" colorkeyword="Banda 1">
                </pv-color-picker>
            </div>

            <div class="config-option-format">
                <pv-color-picker id="bandColor2" ng-model="config.bandColor2" config="config" colorkeyword="Banda 2">
                </pv-color-picker>
            </div>

            <div class="config-option-format">
                <pv-color-picker id="bandColor3" ng-model="config.bandColor3" config="config" colorkeyword="Banda 3">
                </pv-color-picker>
            </div>

        </div>
    </li>
</ul>