<div class="c-side-pane t-toolbar">
    <span style="color:#fff; margin-left:10px;">Display Options</span>
</div>
<label class="flex-align-center" style="margin-top:8px; margin-left: 35px;font-size:14px;">
    <label>Tamaño texto</label>
    <input type="number" class="" style="margin-left:8px" ng-model="config.fontSize">
</label>
<label class="flex-align-center" style="margin-top:8px; margin-left: 15px;font-size:14px;">
    <input type="checkbox" class="c-config-checkbox" ng-model="config.useCustomTitle">Usar título personalizado<br />
</label>
<label style="margin-top:8px; margin-left: 20px;font-size:14px;" ng-show="config.useCustomTitle">
    <br />
    <input type="text" style="text-align:center;margin-left:15px;" ng-model="config.customTitle">
    <br />
</label>
<label class="flex-align-center" style="margin-top:8px; margin-left: 14px;font-size:14px;">
    <input type="number" style="margin-right:8px;text-align:center" ng-model="config.decimalPlaces">Número de decimales<br />
</label>
<label class="flex-align-center" style="margin-top:8px; margin-left: 15px;font-size:14px;">
    <input type="checkbox" class="c-config-checkbox" ng-model="config.showLegend">Show Legend<br />
</label>
<label class="flex-align-center" style="margin-top:8px; margin-left: 15px;font-size:14px;">
    <input type="checkbox" class="c-config-checkbox" ng-model="config.rotate">Rotate<br />
</label>
<br/>

<div class="c-side-pane t-toolbar">
    <span style="color:#fff; margin-left:10px;">Colors</span>
</div>
<div class="config-option-format">
    <pv-color-picker id="backgroundColor" ng-model="config.backgroundColor" config="config" colorkeyword="Background"></pv-color-picker>
</div>
<div class="config-option-format">
    <pv-color-picker id="outlineColor" ng-model="config.outlineColor" config="config" colorkeyword="Outline"></pv-color-picker>
</div>
<div class="config-option-format">
    <pv-color-picker id="colorfill2" ng-model="config.colorfill2" config="config" colorkeyword="Color graph 2"></pv-color-picker>
</div>
<div class="config-option-format">
    <pv-color-picker id="textColor1" ng-model="config.textColor1" config="config" colorkeyword="Text graph 1"></pv-color-picker>
</div>
<div class="config-option-format">
    <pv-color-picker id="textColor2" ng-model="config.textColor2" config="config" colorkeyword="Text graph 2"></pv-color-picker>
</div>
<br />