<ul kendo-panel-bar class="t-side-panel-bgcolor" style="font-size: 14px;">
    <li class="k-state-active">
        <span class="panel-bar-label-no-wrap">Display Options</span>
        <div style="margin: 8px 0;">
            <label class="flex-align-center" style="margin-top:8px; margin-left: 35px;font-size:14px;">
                <label>Tamaño texto</label>
                <input type="number" class="" style="margin-left:8px" ng-model="config.fontSize">
            </label>
            <label class="flex-align-center" style="margin-top:8px; margin-left: 15px;font-size:14px;">
                <input type="checkbox" class="c-config-checkbox" ng-model="config.useCustomTitle">Usar título personalizado<br />
            </label>
            <label style="margin-top:8px; margin-left: 20px;font-size:14px;" ng-show="config.useCustomTitle">
                <br />
                <input type="text" style="text-align:center;margin-left:15px;" ng-model="config.customTitle">
                <br />
            </label>
            <label class="flex-align-center" style="margin-top:8px; margin-left: 14px;font-size:14px;">
                <input type="number" style="margin-right:8px;text-align:center" ng-model="config.decimalPlaces">Número de decimales<br />
            </label>
            <label class="flex-align-center" style="margin-top:8px; margin-left: 15px;font-size:14px;">
                <input type="checkbox" class="c-config-checkbox" ng-model="config.showLegend">Show Legend<br />
            </label>
            <label class="flex-align-center" style="margin-top:8px; margin-left: 15px;font-size:14px;">
                <input type="checkbox" class="c-config-checkbox" ng-model="config.mode3D">3D<br />
            </label>
        </div>
    </li>
    <li>
        <span class="panel-bar-label-no-wrap">Colors</span>
        <div style="margin: 8px 0;">
            <div class="config-option-format">
                <pv-color-picker id="colorBar1" ng-model="config.colorBar1" config="config" colorkeyword="Color bar 1 (*)"></pv-color-picker>
            </div>
            <div class="config-option-format">
                <pv-color-picker id="colorBar2" ng-model="config.colorBar2" config="config" colorkeyword="Color bar 2 (*)"></pv-color-picker>
            </div>
            <div class="config-option-format">
                <pv-color-picker id="colorBar3" ng-model="config.colorBar3" config="config" colorkeyword="Color bar 3 (*)"></pv-color-picker>
            </div>
            <div class="config-option-format">
                <pv-color-picker id="colorBar4" ng-model="config.colorBar4" config="config" colorkeyword="Color bar 4 (*)"></pv-color-picker>
            </div>
            <div class="config-option-format">
                <pv-color-picker id="colorBar5" ng-model="config.colorBar5" config="config" colorkeyword="Color bar 5 (*)"></pv-color-picker>
            </div>
            <div class="config-option-format">
                <pv-color-picker id="colorBar6" ng-model="config.colorBar6" config="config" colorkeyword="Color bar 6 (*)"></pv-color-picker>
            </div>
            <div class="config-option-format">
                <pv-color-picker id="colorBar7" ng-model="config.colorBar7" config="config" colorkeyword="Color bar 7 (*)"></pv-color-picker>
            </div>
            <div class="config-option-format">
                <pv-color-picker id="colorBar8" ng-model="config.colorBar8" config="config" colorkeyword="Color bar 8 (*)"></pv-color-picker>
            </div>
            <div class="config-option-format">
                <pv-color-picker id="colorBar9" ng-model="config.colorBar9" config="config" colorkeyword="Color bar 9 (*)"></pv-color-picker>
            </div>
            <div class="config-option-format">
                <pv-color-picker id="colorBar10" ng-model="config.colorBar10" config="config" colorkeyword="Color bar 10 (*)"></pv-color-picker>
            </div>
        </div>
    </li>
</ul>