<div class="c-side-pane t-toolbar">
  <span style="color:#fff; margin-left:10px;">Display Options</span>
</div>
<strong>Enlaces</strong>
<label style="margin-top:8px; margin-left: 15px;font-size:14px;">
  KPIS
  <input type="text" style="text-align:center;margin-left:15px;" ng-model="config.hrefkpi">
</label>
<label style="margin-top:8px; margin-left: 15px;font-size:14px;">
  Disponibilidad
  <input type="text" style="text-align:center;margin-left:15px;" ng-model="config.hrefdisponibilidad">
</label>
<label style="margin-top:8px; margin-left: 15px;font-size:14px;">
  Eventos
  <input type="text" style="text-align:center;margin-left:15px;" ng-model="config.hrefeventos">
</label>
<label style="margin-top:8px; margin-left: 15px;font-size:14px;">
  Inicio
  <input type="text" style="text-align:center;margin-left:15px;" ng-model="config.hrefinicio">
</label>
<br>
<br/>