<div class="c-side-pane t-toolbar">
    <span style="color:#fff; margin-left:10px;">Display Options</span>
</div>
<strong>SIDEBAR</strong>
<label style="margin-top:8px; margin-left: 15px;font-size:14px;">
    Link 1
    <input type="text" style="text-align:center;margin-left:15px;" ng-model="config.linkSidebarItem1">
</label>
<label style="margin-top:8px; margin-left: 15px;font-size:14px;">
    Link 2
    <input type="text" style="text-align:center;margin-left:15px;" ng-model="config.linkSidebarItem2">
</label>
<label style="margin-top:8px; margin-left: 15px;font-size:14px;">
    Link 3
    <input type="text" style="text-align:center;margin-left:15px;" ng-model="config.linkSidebarItem3">
</label>
<label style="margin-top:8px; margin-left: 15px;font-size:14px;">
    Link 4
    <input type="text" style="text-align:center;margin-left:15px;" ng-model="config.linkSidebarItem4">
</label>
<br>
<strong>NAVBAR</strong>
<br>
<i>Chancadoras</i>
<label style="margin-top:8px; margin-left: 15px;font-size:14px;">
    Link 1
    <input type="text" style="text-align:center;margin-left:15px;" ng-model="config.linkNavbarItem1Subitem1">
</label>
<label style="margin-top:8px; margin-left: 15px;font-size:14px;">
    Link 2
    <input type="text" style="text-align:center;margin-left:15px;" ng-model="config.linkNavbarItem1Subitem2">
</label>
<label style="margin-top:8px; margin-left: 15px;font-size:14px;">
    Link 3
    <input type="text" style="text-align:center;margin-left:15px;" ng-model="config.linkNavbarItem1Subitem3">
</label>
<label style="margin-top:8px; margin-left: 15px;font-size:14px;">
    Link 4
    <input type="text" style="text-align:center;margin-left:15px;" ng-model="config.linkNavbarItem1Subitem4">
</label>
<i>Molinos</i>
<label style="margin-top:8px; margin-left: 15px;font-size:14px;">
    Link 1
    <input type="text" style="text-align:center;margin-left:15px;" ng-model="config.linkNavbarItem2Subitem1">
</label>
<label style="margin-top:8px; margin-left: 15px;font-size:14px;">
    Link 2
    <input type="text" style="text-align:center;margin-left:15px;" ng-model="config.linkNavbarItem2Subitem2">
</label>
<label style="margin-top:8px; margin-left: 15px;font-size:14px;">
    Link 3
    <input type="text" style="text-align:center;margin-left:15px;" ng-model="config.linkNavbarItem2Subitem3">
</label>
<label style="margin-top:8px; margin-left: 15px;font-size:14px;">
    Link 4
    <input type="text" style="text-align:center;margin-left:15px;" ng-model="config.linkNavbarItem2Subitem4">
</label>
<label style="margin-top:8px; margin-left: 15px;font-size:14px;">
    Link 5
    <input type="text" style="text-align:center;margin-left:15px;" ng-model="config.linkNavbarItem2Subitem5">
</label>
<br>