
<div class="c-side-pane t-toolbar">
	<span style="color:#fff; margin-left:10px;">Data Item Column</span>
</div>
<div class="config-option-format">
	<pv-color-picker id="dataItemColumnColor" ng-model="config.dataItemColumnColor" config="config">
</pv-color-picker></div>	
<label class="flex-align-center" style="margin-top: 8px; margin-left: 8px;">
	<input type="checkbox" class="c-config-checkbox"
		   ng-model="config.showDataItemNameCheckboxValue">Show Data Item Column<br />
</label>
<br>


<div class="c-side-pane t-toolbar">
	<span style="color:#fff; margin-left:10px;">Value Column</span>
</div>
<div class="config-option-format">
	<pv-color-picker id="valueRTableColumnColor" ng-model="config.valueRTableColumnColor" config="config">
</pv-color-picker></div>
<br/>
<label style="margin-top:8px; margin-left: 8px;">
	<input type="number" class="" style="text-align:center;margin-left:10px;margin-right:15px;"
		   ng-model="config.numberOfDecimalPlaces">Value Decimal Places<br />
</label>
<br>

<div class="c-side-pane t-toolbar">
	<span style="color:#fff; margin-left:10px;">Mouse-Over</span>
</div>
<div class="config-option-format">
	<pv-color-picker id="hoverRTableColor" ng-model="config.hoverRTableColor" config="config">
</pv-color-picker></div>
<br/>

<div class="c-side-pane t-toolbar">
	<span style="color:#fff; margin-left:10px;">Even Rows</span>
</div>
<div class="config-option-format">
	<pv-color-picker id="evenRTableRowColor" ng-model="config.evenRTableRowColor" config="config">
</pv-color-picker></div>
<br/>

<div class="c-side-pane t-toolbar">
	<span style="color:#fff; margin-left:10px;">Odd Rows</span>
</div>
<div class="config-option-format">
	<pv-color-picker id="oddRTableRowColor" ng-model="config.oddRTableRowColor" config="config">
</pv-color-picker></div>
<br/>

<div class="c-side-pane t-toolbar">
	<span style="color:#fff; margin-left:10px;">Outside Border</span>
</div>
<div class="config-option-format">
	<pv-color-picker id="outsideRTableBorderColor" ng-model="config.outsideRTableBorderColor" config="config">
</pv-color-picker></div>
<br/>

<div class="c-side-pane t-toolbar">
	<span style="color:#fff; margin-left:10px;">Total Rows Color</span>
</div>
<div class="config-option-format">
	<pv-color-picker id="totalRTableColumnColor" ng-model="config.totalRTableColumnColor" config="config">
</pv-color-picker></div>
<br/>

<div class="c-side-pane t-toolbar">
	<span style="color:#fff; margin-left:10px;">Header Text</span>
</div>
<div class="config-option-format">
	<pv-color-picker id="headerRTableTextColor" ng-model="config.headerRTableTextColor" config="config">
</pv-color-picker></div>
<br/>

<div class="c-side-pane t-toolbar">
	<span style="color:#fff; margin-left:10px;">Header Background</span>
</div>
<div class="config-option-format">
	<pv-color-picker id="headerRTableBackgroundColor" ng-model="config.headerRTableBackgroundColor" config="config">
</pv-color-picker></div>
<br/>